@font-face {
    font-family: 'Karla';
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

:root {
--green-200: hsl(148, 38%, 91%);
--green-600: hsl(169, 82%, 27%);
--red: hsl(0, 66%, 54%);
--white: hsl(0, 0%, 100%);
--grey-500: hsl(186, 15%, 59%);
--grey-900: hsl(187, 24%, 22%);
--font-size: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Karla';
}

body {
    width: 100%;
    background-color: var(--green-200);
    color: var(--grey-900);
    font-size: var(--font-size);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 1em;
}

.form-container {
    background-color: var(--white);
    padding: 1.5em;
    border-radius: 1em;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    padding-bottom: .2em;
}

.name-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.name-container input {
    width: 100%;
}

label, legend {
    padding: 1.6em 0 .6em 0;
}

input, textarea {
    font-size: 1.6rem;
    font-family: 'Karla';
    padding: 1em;
    border: 0.01em solid var(--grey-500);
    border-radius: .5em;
    cursor: pointer;
    color: var(--grey-900);
}

input:focus, textarea:focus {
    outline: 1px solid var(--green-600);
}

input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: none;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
}

legend {
    padding-bottom: 1em;
}

.custom-container, .email-container, .message-container, .consent-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.custom-container {
    gap: 1em;
}

.custom-radio {
    width: 100%;
    padding: .8em 1em;
    border: 0.01em solid var(--grey-500);
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .7em;
    cursor: pointer;
    font-size: 1.8rem;
}

.custom-radio label, .consent label {
    padding: 0;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey-500);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    padding: 0;
    background-color: var(--white);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"] {
    margin-right: 10px;
    flex-shrink: 0;
}

input[type="radio"]:checked {
    background-image: url('./assets/images/icon-radio-selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

input[type="checkbox"]:checked {
    background-image: url('./assets/images/icon-checkbox-check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

textarea {
    height: 15em;
    width: 100%;
}

.consent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3em 0;
}

.error-message {
    color: var(--red);
    font-size: 1.2rem;
    display: none;
    position: absolute;
    bottom: -1.3em;
}

#consent-error {
    bottom: 1em;
}

.required {
    color: var(--green-600);
}

#submit {
    background-color: var(--green-600);
    color: var(--green-200);
    width: 100%;
    padding: 1.1em;
    font-family: 'Karla';
    font-size: 1.8rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: .5em;
    cursor: pointer;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey-900);
    color: var(--green-200);
    width: fit-content;
    padding: 1.8em;
    border-radius: 1em;
}

.modal strong {
    font-size: 1.8rem;
    font-weight: 600;
}

.modal header {
    display: flex;
    align-items: center;
    gap: .7em;
    margin-bottom: 1em;
}

.attribution { 
    margin-top: 2em;
    font-size: 1.1rem; 
    text-align: center; 
}

.attribution a { 
    color: var(--green-600); 
}

@media screen and (min-width: 1000px){
    .form-container {
        background-color: var(--white);
        padding: 1.5em;
        border-radius: 1em;
        width: 66%;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        padding-bottom: 0;
    }

    input, textarea {
        font-size: 1.6rem;
        font-family: 'Karla';
        padding: 1em;
        border: 0.01em solid var(--grey-500);
        border-radius: .5em;
        cursor: pointer;
        color: var(--grey-900);
    }

    .names-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    .custom-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    textarea {
        height: 6.5em;
    }

    .consent {
        padding: 2em 0;
    }

    input[type="checkbox"] {
        margin-right: 20px;
        flex-shrink: 0;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding: 2em 1em;
        height: 100vh;
        justify-content: center;
    }

    .form-container {
        padding: 2.2em;
        width: 52%;
    }

    h1 {
        font-size: 3.2rem;
        padding-bottom: .2em;
    }

    .attribution { 
        position: absolute;
        bottom: 2em;
    }
}